body {
    background: url(../images/background.jpg);
}
#controls {
    float: left;
}
#controlsText {
    font-size: 30px;
}
#hangman{
    float: right;
}
#victoryScreen {
    background: lightblue;
    visibility: hidden;
}
button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
}
@media screen and (max-width: 1200px) {
    #buttonContainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #controls {
        float: none;
    }
    #hangman {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #flag {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 475px) {
    #hangman {
        width: 100%;
        height: 100%;
    }
    
}