body {
    background: url(../images/background.jpg);
}
#controls {
    float: left;
}
#controlsText {
    font-size: 30px;
}
#hangman{
    float: right;
}
#victoryScreen {
    background: lightblue;
    visibility: hidden;
}
/* #flag {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */
button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
}